* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* background: linear-gradient(
    to right,
    #5fc3e4,
    #e55d87
  ); */
/* body {
  background: linear-gradient(
    to right,
    #8a307f,
    #79a7d3,
    #6883bc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* } */
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(to right, #000428, #004e92);
  color: #fff; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
}
h1 {
  font-family: "Abril Fatface", serif;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0px;
  left: 0px;
  height: 10vh;
  justify-content: space-between;
  transition: all 300ms ease-in;
  z-index: 50;
}
.icon {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}
.icon > i,
.icon > p {
  font-size: 1.5rem;
  margin: 0.2rem;
  color: #fff;
}

.fix-nav {
  position: sticky;
  top: 0px;
  left: 0px;
  background: linear-gradient(to right, #000428, #004e92);
  z-index: 10;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
li > a {
  text-decoration: none;
  color: #ffff;
}
.mid {
  margin-right: 1rem;
  transition: all 300ms ease-in;
  z-index: 100;
}
.list {
  justify-content: space-evenly;
}
.list > li {
  margin: 0rem 0.1rem;
  padding: 0.4rem 0.9rem;
  font-size: 1.5rem;
  transition: all 300ms ease-out;
  border-radius: 10px;
}
.list > li:hover {
  background-color: #fff;
}
.list > li:hover a {
  color: #dd9a05;
}
button {
  border: none;
  outline: none;
  background: transparent;
}

.bars,
.cross {
  font-size: 1.9rem;
  margin-right: 2rem;
  color: white;
  display: none;
}
#type1 {
  color: #dd9a05;
  font-size: 3rem;
}
@media only screen and (max-width: 785px) {
  .mid {
    background: linear-gradient(to left, #000428, #004e92);
    position: absolute;
    left: 0px;
    top: -7px;
    width: 0vw;
    height: 101vh;
    overflow: hidden;
    z-index: 100;
  }
  .mid ul {
    flex-direction: column;
    margin-top: 4em;
  }
  .list > li {
    margin: 1rem 0.1rem;
  }
  .bars,
  .cross {
    display: block;
  }
  .cross {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    font-size: 1.9rem;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 10px;
  }
  #type1 {
    color: #dd9a05;
    font-size: 1.6rem;
  }
}
/* Navbar Completed */
/* Hero */
.section-hero {
  position: relative;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-direction: row;
}
.hero-content {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
}
.hero-content h1 {
  font-size: 9rem;
}
.hero-content h3 {
  font-size: 6rem;
}
.hero-content h4 {
  font-size: 3rem;
}
.wheel {
  height: 88vh;
  position: absolute;
  right: 2rem;
  filter: invert(100%);
  animation: mymove 50000ms linear 0s infinite normal;
}
@keyframes mymove {
  1% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1024px) {
  .wheel {
    right: -71%;
  }
  .hero-content h1 {
    font-size: 9rem;
  }
  .hero-content h3 {
    font-size: 6rem;
  }
  .hero-content h4 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 785px) {
  .wheel {
    right: -83%;
  }
  .hero-content h1 {
    font-size: 8rem;
  }
  .hero-content h3 {
    font-size: 6rem;
  }
  .hero-content h4 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 415px) {
  .wheel {
    right: -128%;
  }
  .hero-content h1 {
    font-size: 3.4rem;
  }
  .hero-content h3 {
    font-size: 2.5rem;
  }
  .hero-content h4 {
    font-size: 3rem;
  }
  #type1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 376px) {
  .wheel {
    right: -145%;
  }
  .hero-content h1 {
    font-size: 3.1rem;
  }
  .hero-content h3 {
    font-size: 2rem;
  }
  .hero-content h4 {
    font-size: 2rem;
  }
  #type1 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 280px) {
  .wheel {
    right: -156%;
  }
}

.icons {
  position: absolute;
  bottom: 5%;
  left: 10%;
  color: #ffffff;
}

.icons li a {
  font-size: 2rem;

  transition: all 300ms ease-in-out;
}
.icons li {
  cursor: pointer;
}
.icons li:hover a {
  /* font-size: 1.8rem; */
  padding-bottom: 0.5rem;
}

.icons li:hover a {
  color: #dd9a05;
}

@media only screen and (max-width: 567px) {
  .section-hero .icons {
    display: none;
  }
}

/* About */
.title {
  text-align: center;
  /* text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5); */
}
.title h1 {
  margin: 2rem 0 1rem 0;
  color: #000;
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.glow {
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 0 0;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: #dd9a05;
  width: 50%;
  height: 0.4rem;
  z-index: 1;
  box-shadow: 2px 11px 10px #dd9a05;
}

.section-about {
  height: 100vh;
  width: 100vw;
  background: #fff;
  overflow: hidden;
  flex-direction: column;
  /* box-shadow: -5px -10px 18px linear-gradient(to left, #000428, #004e92); */
}

.about-content {
  background-color: #000;
  height: 65%;
  width: 80%;
  border-radius: 10px;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  overflow: hidden;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
}
.about-content .left {
  height: 100%;
  width: 40%;
  background: url("../resource/pexels-sora-shimazaki-5926397.jpg") center
    center/cover;
}
.about-content .right {
  margin: 2rem 0.9rem;
  padding: 2rem 0.5rem;
  height: 100%;
  width: 60%;
  background: #000;
}
.right p {
  margin: 2;
  font-size: 1.4rem;
}
.right h1 {
  font-size: 3rem;
}
.right h2 {
  font-size: 2.5rem;
}
/* .left{
  background: url("../resource/pexels-sora-shimazaki-5926397.jpg") ;
} */

.button {
  border-radius: 4px;
  background-color: #fff;
  border: none;
  text-align: center;
  font-size: 1rem;
  padding: 0.6rem 0.6rem;
  width: 7rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.7rem 1rem 0.5rem 1rem;
}

.button {
  text-decoration: none;
}
.button a {
  color: #dd9a05;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:hover {
  background-color: #dd9a05;
}
.button:hover a {
  color: #fff;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
#type2 {
  color: #dd9a05;
  font-size: 2rem;
}
@media only screen and (max-width: 1025px) {
  .about-content {
    flex-direction: column;
    height: 83%;
    width: 85%;
  }
  .about-content .left {
    width: 100%;
    height: 45%;
  }
  .about-content .right {
    width: 100%;
    height: 55%;
  }
  .right h1 {
    font-size: 3.5rem;
  }
  .right h2,
  #type2 {
    font-size: 2.8rem;
  }
  .right p {
    font-size: 2rem;
  }
  .button {
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 769px) {
  .about-content {
    flex-direction: column;
    height: 83%;
    width: 85%;
  }
  .right h1 {
    font-size: 3rem;
  }
  .right h2,
  #type2 {
    font-size: 2rem;
  }
  .right p {
    font-size: 1.39rem;
  }
  .button {
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 541px) {
  .section-about {
    height: 138vh;
  }
  .about-content {
    flex-direction: column;
    height: 82%;
    width: 93%;
  }
  .about-content .left {
    width: 100%;
    height: 35%;
  }
  .about-content .right {
    width: 100%;
    height: 65%;
  }
  .button {
    width: 7rem;
    height: 3rem;
    font-size: 1.2rem;
  }
  .right h1 {
    font-size: 2.5rem;
  }
  .right h2,
  #type2 {
    font-size: 1.8rem;
  }
  .right p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 412px) {
  .button {
    width: 7rem;
    height: 2.6rem;
    font-size: 1rem;
  }
  .right h1 {
    font-size: 3.2rem;
  }
  .right h2,
  #type2 {
    font-size: 2rem;
  }
  .right p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 361px) {
  .section-about {
    height: 140vh;
  }
  .about-content {
    flex-direction: column;
    height: 79%;
    width: 93%;
  }
  .button {
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
  }
  .right h1 {
    font-size: 2.2rem;
  }
  .right h2,
  #type2 {
    font-size: 2rem;
  }
  .right p {
    font-size: 0.9rem;
  }
}

/* About_Ended */

.section-pro {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../resource/pWall.jpg") center center/cover;
  /* background-attachment: fixed; */
}

.section-pro > .title h1 {
  margin: 1rem 0 1rem 0;
  color: #fff;
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.section-pro > .title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50%;
  height: 0.4rem;
  z-index: 1;
  box-shadow: 2px 11px 10px #fff;
}
.project-container {
  height: 70%;
  width: 90%;
  margin-top: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.flip-card {
  background-color: transparent;
  width: 25%;
  height: 80%;
  perspective: 1000px;
}

.flip-card-inner {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}
.flip-card-back h1 {
  color: #dd9a05;
  margin-bottom: 0.5rem;
}
.Covid {
  background: url("../resource/COvid.jpg") center center/cover;
}
.Port {
  background: url("../resource/pexels-sora-shimazaki-5926397.jpg") center
    center/cover;
}
.Hotel {
  background: url("../resource/hotel.jpg") center center/cover;
}
.direct {
  color: white;
}
@media only screen and (max-width: 1025px) {
  .section-pro {
    height: 130vh;
  }
  .project-container {
    flex-direction: column;
  }
  .flip-card {
    height: 45%;
    width: 85%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

/* Skills */

.section-skills {
  width: 100vw;
  height: 60vh;
  background: #fff;
}
.skills-content {
  margin-top: 2rem;
  height: 90%;
  width: 85%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
}
.skills-content i {
  font-size: 4rem;
  margin: 0.5rem 0.5rem;
  padding: 0.2rem 0.5rem;
  border-bottom: 6px solid #000;
  transition: all 200ms ease-in;
}
.skills-content i:hover {
  color: #dd9a05;
  border-bottom: 6px solid #dd9a05;
}

/* ContactUS */
.section-contact {
  width: 100vw;
  height: 100vh;
  background: url("../resource/Cwall.jpg") center center/cover;
  background-attachment: fixed;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 60%;
  margin-top: 10rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.left-cont {
  width: 40%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.left-cont .ldetail a {
  text-decoration: none;
  color: #fff;
}

.contact h1 {
  font-size: 2rem;
  margin-left: 0.5rem;
  padding: 1rem 0.5rem;
}
.form {
  width: 60%;
  height: 70%;
}
.fcenter {
  flex-direction: column;
}
input {
  margin: 1rem 0.5rem;
  padding: 0.9rem 1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
  background: transparent;
  transition: all 300ms ease-in-out;
  width: 60%;
}
input:focus {
  border-bottom: 2px solid #dd9a05;
}
input:focus placeholder {
  color: #000;
}
textarea {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
  background: transparent;
  transition: all 300ms ease-in-out;
  width: 60%;
}
::placeholder {
  color: #fff;
  opacity: 1;
  font-size: 1rem;
}
.form button {
  margin-top: 0.6rem;
}

@media only screen and (max-width: 1025px) {
  ::placeholder {
    font-size: 2rem;
  }
  .left-cont {
    height: 50%;
  }
}
@media only screen and (max-width: 769px) {
  input {
    margin: 0.5rem 0.5rem;
  }
  .ldetail {
    display: none;
  }
  ::placeholder {
    color: #fff;
    opacity: 1;
    font-size: 1.5rem;
  }
  .contact {
    flex-direction: column;
  }
  .left-cont {
    width: 100%;
    height: 30%;
  }
  .form {
    width: 100%;
    height: 70%;
  }
  .contact {
    height: 70%;
  }
}

@media only screen and (max-width: 321px) {
  .form button {
    margin-top: 0rem;
    height: 2.3rem;
  }
  .contact h1 {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    padding: 1rem 0.5rem;
  }
  .left-cont {
    width: 100%;
    height: 10%;
  }
  ::placeholder {
    color: #fff;
    opacity: 1;
    font-size: 1rem;
  }
  .contact {
    flex-direction: column;
  }
  .left-cont {
    width: 100%;
    height: 30%;
  }
  .form {
    width: 100%;
    height: 70%;
  }
  .contact {
    height: 70%;
  }
}

/* End Contact */

footer {
  background-color: black;
  padding: 1rem 1.6rem;
  text-align: center;
}

footer p {
  color: #fff;
  font-size: 2vw;
}

footer p span {
  color: #dd9a05;
}
